<template>
  <div>
    <div class="flex items-center flex-col mt-32 justify-center">
      <div>random user</div>
      <div>lets a got a random user</div>
      <button
        @click="getUsers"
        class="bg-green-500 text-white px-10 py-3 mt-3 rounded-xl"
      >
        get a random user
      </button>
    </div>
    <div v-for="item in users" :key="item.id">
      {{ item }}
    </div>
    <div v-text="users"></div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from "vuex";
export default {
  name: "IndexPage",
  computed: {
    ...mapState({
      users: (state) => state.users,
    }),
  },
  methods: {
    ...mapActions(["getUsers"]),
  },
};
</script>
